<!-- navbar.html -->
<nav id="navbar">
  <div class="nav-container">
    <div class="logo">
      <img src="./assets/img/B icon low 2.png" alt="Icono" class="logo__img">
      <span class="logo__text">AXOLUTION</span>
    </div>

    <ul class="nav-links">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#tienda">Tienda 3D</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
    <button class="mobile-menu">☰</button>
  </div>
</nav>
